body {
    font-family: formular;
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);
}

html {
    min-height: 100%;
}

.todo-list-task div {
    background: #f7f7f7;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
}

.todo-list-task div:nth-child(2n) {
    background: #edf1f5;
}

.todo {
    display: block;
    font-size: 20px;
    text-align: center;
    max-width: 420px;
    margin: 0 auto;
    box-shadow: 0 0 1em black;
    background: #fff;
    margin-top: 10px;
}

.todo__header {
    font-size: 25px;
    text-transform: uppercase;
    background: #86a8e7;
    color: white;
    padding: 12px 28px;
}

.todo-input {
    display: flex;
}
#todo-input__text {
    float: left;
}

.todo-input input {

    width: 350px;


    background: white;
    box-sizing: border-box;
    height: 50px;
    font-weight: 0.5px;
    padding-left: 25px;
    border: 3px solid gray;
    color: gray;
}

.todo-input input:focus {
    background: #edf1f5;
    border: 3px solid #86a8e7;
    outline: none;
    color: #86a8e7;
}

.todo-buttons {
    display: inline-block;
    margin: 4px 4px;
}

.todo-buttons button:hover {
    background-color: white;
    color: black;
    border: 2px solid #86a8e7;
}
.todo-buttons button {
    text-align: center;
    background-color: #86a8e7;
    border: 2px solid #86a8e7;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


#todo-input__button {
    text-align: center;
    background-color: #8291dd;
    border: 2px solid #8291dd;
    color: white;
    padding: 8px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#todo-input__button input:focus {
    background: #edf1f5;
    border: 3px solid #86a8e7;
    outline: none;
    color: #86a8e7;
}





/* html, body {
    margin: 0;
    height: 100%;
    background-color: cadetblue;
}

h1 {
    text-align: center;
}

.todo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.add-todo-wrapper {
    display: flex;
    width: 500px;
    min-height: 40px;
    align-items: center;
    background-color: darkgoldenrod;
    border-radius: 5px;
    padding: 10px;
}

.input-wrapper {
    width: 80%;
}

.input-wrapper input{
    width: 100%;
    height: 25px;
}

.button-wrapper {
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.button-wrapper button {
    width: 80%;
    background-color: springgreen;
    color: #ffffff;
    outline: none;
    border: none;
    height: 25px;
    cursor: pointer;

}

.todo-item {
    display: flex;
    width: 500px;
    min-height: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: orange;
}

.todo-item.checked {
    background-color: darkgrey;
    opacity: 0.5;
}

.todo-item.delition {
    animation: opacity 1s ease-in-out;
}


@keyframes opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
    
} */